@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #000000, #280f9a);
}

.calculator{
    border: 0.5px solid #5a5b5d;
    padding: 20px;
    border-radius: 16px;
    background: linear-gradient(175deg,#000000, #2e2b3c );
    box-shadow: 0px 3px 15px rgba(86, 19, 168, 0.5);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #fffffffb;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 20%;
    background: transparent;
    color: #7bd7e2;
    font-size: 20px;
    box-shadow: -5px -5px 7px rgba(80, 40, 189, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color: #6dee0a;
}